<table class="table table-striped">
  <tr>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
    <th>Phone Number</th>
    <th>Update Time</th>
  </tr>
  <% @contact_list.each do |contact| %>
    <tr>
      <td><%= contact.first_name %></td>
      <td><%= contact.middle_name %></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.japan_phone %></td>
      <td><%= contact.friendly_time %></td>
    </tr>
  <% end %>
</table>